ul {
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    background: #e4e4ea;
    cursor: default;
    font-size: 1.2em;
  }
}
