<section>
  <div class="divider">
    <div class="wow fadeInRight container text-center">
      <h2 class="divider-heading">Skills</h2>
    </div>
  </div>

  <div class="container">
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>Java</li>
      <li>Node.js</li>
      <li>Angular</li>
      <li>SCSS</li>
      <li>NPM</li>
      <li>Grunt</li>
      <li>AngularJS</li>
      <li>WordPress</li>
      <li>Contentful</li>
      <li>Karma</li>
      <li>Jasmine</li>
      <li>JQuery</li>
    </ul>
  </div>
</section>