<footer>
    <div class="container mt-5">
        <div class="row py-5">
            <div class="footer-top col-xs-12 col-md-8">
                <h3>Eugene Robb</h3>
                <p><a class="email" href="mailto:hey@eugenerobb.ie">hey@eugenerobb.ie</a></p>
                <p>I'm a front end developer from Donegal, Ireland. I can help you build and grow your online
                    presence.</p>
            </div>
        </div>

        <div class="row pb-4">
            <div class="menu pb-4 col-sm-5">
                <h5>Navigation</h5>
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Skills</a></li>
                    <li><a href="">Experience</a></li>
                    <li><a href="">Education</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="social pb-4 col-sm-5">
                <h5>Social</h5>
                <ul>
                    <li><a href="" data-toggle="tooltip" title="Follow progress on GitHub profile">GitHub</a></li>
                    <li><a href="" data-toggle="tooltip" title="Check out my pens">CodePen</a></li>
                    <li><a href="" data-toggle="tooltip" title="Reach out to me on LinkedIn">LinkedIn</a></li>
                    <li><a href="" data-toggle="tooltip" title="Follow me on Twitter">Twitter</a></li>
                    <li><a href="mailto:hey@eugenerobb.ie" data-toggle="tooltip" title="Send me an email">Email</a></li>
                </ul>
            </div>
        </div>

        <div class="row mt-4 pb-3">
            <div class="col-md-12">
                <p class="copyright"> &copy;{{ currentYear }} Copyright Eugene Robb</p>
            </div>
        </div>
    </div>
</footer>