<div class="card">
    <div class="user-info-wrap">
        <div class="user-photo"></div>
        <div class="user-info">
            <div class="user-name">Eugene Robb</div>
            <div class="user-title">Frontend Developer</div>
        </div>
    </div>
    <div class="user-bio">
        <p>Junior frontend developer from Donegal, Ireland. This website is currently under construction. Why not get
            in touch via the below links.
        </p>
        <div class="social">
            <div class="social-icons">
                <a href="https://github.com/EugeneRobb1/" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="https://codepen.io/eugenerobb/" target="_blank">
                    <i class="fa fa-codepen" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/eugene_robb" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/eugene-robb-731b52142/" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
            <div class="message">
                <a href="mailto:eugenerobb@outlook.com">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>