<div *ngIf="user" class="card">
    <div class="card-body">
        <div class="user-info-wrap">
            <div class="user-photo"></div>
            <div class="user-info">
                <h5 class="card-title">{{user.name}}</h5>
                <!-- <div class="user-title">Frontend Developer</div> -->
                <div class="card-subtitle mb-2 text-muted"><i class="fa fa-map-marker"></i>&nbsp;{{user.location}}</div>
            </div>
        </div>
        <div class="card-text">
            <p>{{user.bio}} This user card retrieves data via HTTP from my <a href="{{user.url}}" class="card-link" target="_blank">GitHub API</a>. Why not get
                in touch via the below links.
            </p>
            <div class="social">
                <div class="social-icons">
                    <a href="{{user.html_url}}" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="https://codepen.io/eugenerobb/" target="_blank">
                        <i class="fa fa-codepen" aria-hidden="true"></i>
                    </a>
                    <a href="https://twitter.com/eugene_robb" target="_blank">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/eugene-robb-731b52142/" target="_blank">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="message">
                    <a href="mailto:eugenerobb@outlook.com">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>