<div class="coming-soon">
    <div class="text-center">
        <h1>&lt;/comingsoon&gt;</h1>
        <p><a href="http://www.eugenerobb.ie" target="_blank">eugenerobb.ie</a>{{ maintext }}</p>
        <ul class="socials">
            <li><a href="mailto:eugenerobb@outlook.com">email</a></li>
            <li><a href="https://www.linkedin.com/in/eugene-robb-731b52142/" target="_blank">linkedin</a></li>
            <li><a href="https://twitter.com/eugene_robb" target="_blank">twitter</a></li>
            <li><a href="https://github.com/EugeneRobb1/" target="_blank">github</a></li>
        </ul>
    </div>
</div>