@font-face {
  font-family: Ubuntu;
  src: url("../../assets/fonts/Ubuntu/Ubuntu-Medium.ttf");
}

.coming-soon {
  font-family: Ubuntu, sans-serif;
  height: 100vh;
  background: #fb5f7e;
  background: -webkit-linear-gradient(to bottom, #f77062, #fe5196);
  background: -o-linear-gradient(to bottom, #f77062, #fe5196);
  background: -moz-linear-gradient(to bottom, #f77062, #fe5196);
  background: linear-gradient(to bottom, #f77062, #fe5196);
}


a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.502);
}

h1 {
  font-size: 8vw;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.502);
  text-transform: uppercase;
  letter-spacing: 10px;
  padding: 200px 0 10px 0;
  margin: 0;
}

.socials {
  padding: 0;
  margin: 0;
  li {
    display: inline;
    padding: 15px;
  }
}

@media (max-width: 410px) {
  h1 {
    font-size: 4vw;
    font-weight: bolder;
  }
  .socials {
    li {
      padding: 0 5px;
    }
  }
}
@media (orientation: landscape) {
    h1{
        padding: 75px 0 5px 0;
    }
}