<div class="landing">
  <div class="container">
    <article class="landing-content">
      <img src="../../../assets/imgs/me.jpg" class="landing-photo">
      <h1>Eugene Robb</h1>
      <h4>Front end developer Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, deleniti corporis.
        Laboriosam maiores magni veritatis ipsa minima veniam recusandae dolorem, excepturi voluptate aliquam numquam
        rem
        culpa repellat optio repellendus ipsam.</h4>
    </article>
  </div>
</div>
