<div class="main-content">
    <div class="display">
        <h1>Coming soon</h1>
        <p><a href="http://www.eugenerobb.ie" target="_blank">eugenerobb.ie</a>{{ maintext }}</p>
    </div>
    <div class="socials">
        <ul>
            <li><a href="mailto:eugenerobb@outlook.com" target="_blank">email</a></li>
            <li><a href="https://www.linkedin.com/in/eugene-robb-731b52142/" target="_blank">linkedin</a></li>
            <li><a href="https://twitter.com/eugene_robb" target="_blank">twitter</a></li>
            <li><a href="https://github.com/EugeneRobb1/" target="_blank">github</a></li>
        </ul>
    </div>
</div>