.main-content{
    height: 100vh;
    width: 100vw;
    background:url('../assets/imgs/coming-soon.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;  
    background-size: cover;

    li{
        display: inline;
        list-style: none;
    }

    .socials a{
        padding: 10px;
    }
}