<section id="about">
  <div class="divider">
    <div class="wow fadeInRight container text-center">
      <fa-icon [icon]="faAddressCard"></fa-icon>
      <h2 class="divider-heading">About</h2>
    </div>
  </div>

  <div class="container">
    <div class="about-content">
      <div class="row">
        <div class="col-md-12">
          <h3>About me</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <img src="../../../assets/imgs/me.jpg">
        </div>
        <div class="col-md-7">
          <div class="content-text">
            <p>I'm a front end developer currently working for <a href="http://www.pramerica.ie" target="_blank"
                rel="noopener noreferrer">Pramerica</a>
              in Donegal, Ireland.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores placeat consequatur beatae. Soluta
              adipisci aperiam quia sapiente rerum, facere amet </p>
          </div>
        </div>
      </div>
    </div>
    <!-- IDEA: have about section here like matthew site coming from github api in coming soon component -->

  </div>
</section>